html {
  background-color: #dbead5;
}

:root{
  --col-gap:10px;
}

.container{
  max-width: 1500px;
  margin: auto;
  padding: 10px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: calc( var(--col-gap) * -1 );
  margin-right: calc( var(--col-gap) * -1 );
}

[class*="col-"] {
  box-sizing: border-box; 
  padding: 0 var(--col-gap);
}

.col-1{width: 8.333333%;  }
.col-2{width: 16.66666%;  }
.col-3{width: 25%;        }
.col-4{width: 33.333333%; }
.col-5{width: 41.666666%; }
.col-6{width: 50%;        }
.col-7{width: 58.333333%; }
.col-8{width: 66.666666%; }
.col-9{width: 75%;        }
.col-10{width: 83.333333%;}
.col-11{width: 91.666666%;}
.col-12{width: 100%;      }

@media screen and (min-width:768px){
  .col-md-1{width: 8.333333%;  }
  .col-md-2{width: 16.66666%;  }
  .col-md-3{width: 25%;        }
  .col-md-4{width: 33.333333%; }
  .col-md-5{width: 41.666666%; }
  .col-md-6{width: 50%;        }
  .col-md-7{width: 58.333333%; }
  .col-md-8{width: 66.666666%; }
  .col-md-9{width: 75%;        }
  .col-md-10{width: 83.333333%;}
  .col-md-11{width: 91.666666%;}
  .col-md-12{width: 100%;      }
}

@media screen and (min-width:1024px){
  .col-lg-1{width: 8.333333%;  }
  .col-lg-2{width: 16.66666%;  }
  .col-lg-3{width: 25%;        }
  .col-lg-4{width: 33.333333%; }
  .col-lg-5{width: 41.666666%; }
  .col-lg-6{width: 50%;        }
  .col-lg-7{width: 58.333333%; }
  .col-lg-8{width: 66.666666%; }
  .col-lg-9{width: 75%;        }
  .col-lg-10{width: 83.333333%;}
  .col-lg-11{width: 91.666666%;}
  .col-lg-12{width: 100%;      }
}

@media screen and (min-width:1200px){
  .col-xl-1{width: 8.333333%;  }
  .col-xl-2{width: 16.66666%;  }
  .col-xl-3{width: 25%;        }
  .col-xl-4{width: 33.333333%; }
  .col-xl-5{width: 41.666666%; }
  .col-xl-6{width: 50%;        }
  .col-xl-7{width: 58.333333%; }
  .col-xl-8{width: 66.666666%; }
  .col-xl-9{width: 75%;        }
  .col-xl-10{width: 83.333333%;}
  .col-xl-11{width: 91.666666%;}
  .col-xl-12{width: 100%;      }
}

#title {
  text-align: center;
  font-size: 50px;
  margin: 30px 0 10px 0;
}

.search{
  width: 500px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

#search_input_disc {
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

#search_input_txt {
  width: 250px;
  height: 50px;
  margin: 0 10px;
  padding: 0 5px;
  font-size: 20px;
  border-width: 1px;
  border-radius: 5px;
}

#searchbtn {
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}

.eachStation {
  width: 100%;
  max-width: 450px;
  margin: 10px;
  font-size: 18px;
  background-color: #93bf85;
  border-radius: 10px;
}

.eachStation:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

tr {
  line-height: 40px;
}

td {
  text-align: center;
}

.stationName {
  font-weight: bolder;
  font-size: 25px;
  line-height: 50px;
}

.addressName {
  background-color: #fff;
}

.setEven {
  width: 50%;
  background-color: #fff;
  border-bottom: 1px dashed #2b961f;
  border-top: 1px dashed #2b961f;
}

.addBorder {
  border-left: 1px dashed #2b961f;
}

.unavailable {
  color: red;
  font-weight: bolder;
}

.linkToMap {
  color:#006400 ;
  text-decoration: underline;
}

#map {
  height: 100%;
  width: 100%;
}

#myModal {  
  display: none;
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  z-index: 10;
  right: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}